/* 命名規則　BEM */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
  font-size: 0.875rem;
  color: #2a2a2a;
}

img {
  max-width: 100%;
  border-style: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

#header {
  height: 100vh;
  background-image: url(https://placehold.jp/1200x800.png);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  margin-bottom: 80px;
  position: relative;
}

.header__title{
  position: absolute;
  top: 30px;
  right: 30px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5%;
}

#magazine {
  text-align: center;
  margin-bottom: 80px;
}

.magazine__title{
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.magazine__flex {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.magazine__flex__item {
  width: 49%;
  position: relative;
}

@media screen  and (max-width: 896px){
  .magazine__flex {
    flex-direction: column;
  }
}

@media screen and (max-width: 896px) {
  .magazine__flex__item:first-child {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 896px) {
  .magazine__flex__item {
    width: 100%;
  }
}
.magazine__text {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  max-width: 290px;
  color: #fff;
  font-weight: bold;
  background-color: rgba(0,0,0,0.5);
  padding: 15px;
  margin: 0 auto;
}

.magazine__text__title {
  font-size: 1.25rem;
  margin-bottom: 2px;
}

#fashionStyle {
  box-sizing: border-box;
  height: 520px;
  background-image: url(https://placehold.jp/1200x480.png);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 60px;
  margin-bottom: 80px;
}

.fashionStyle__title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.fashionStyle__btn {
  color: #2a2a2a;
  border: solid 1px #2a2a2a;
  display: inline-block;
  font-size: 0.750rem;
  padding: 14px 36px;
  margin-top: 30px;
}

@media screen and (max-width: 896px){
  #fashion {
    padding-top: 35px;
    margin-bottom: 50px;
  }
}

.catalogAntique {
  background-color: #f5f5f5;
  padding: 60px 0;
}

.catalogAntique__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalogAntique__flex__item {
  width: 48%;
  text-align: center;
}

.catalogAntique__flex__item img {
  width: 100%;
}

.catalogAntique__flex__item__title {
  margin-bottom: 40px;
}

.catalogAntique__flex__item p {
  text-align: left;
  margin-bottom: 30px;
}

@media screen and (max-width: 896px){
  .catalogAntique {
    padding: 30px 0;
  }
}

@media screen and (max-width: 896px){
  .catalogAntique__flex {
    flex-direction: column;
  }
}

@media screen and (max-width: 896px) {
  .catalogAntique__flex__item:first-child {
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 896px) {
  .catalogAntique__flex__item {
    width: 100%;
  }
}

#footer {
  background-color: #333;
  font-size: 0.750rem;
}

.footer__black {
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer__black__item:first-child {
  padding: 60px 0;
}

.footer__black__item {
  width: 33%;
  line-height: 2;
}

.footer__black__item__title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer__black__item li::before {
  content: "-";
  margin-right: 5px;
}

.footer__white {
  background-color: #fff;
  text-align: center;
  padding: 30px 0;
}

@media screen and (max-width: 896px) {
  .footer__black {
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media screen and (max-width: 896px) {
    .footer__black__item:first-child {
      text-align: center;
      padding: 0;
    }
  }
}

@media screen and (max-width: 896px) {
  .footer__black__item {
    width: 100%;
    margin-bottom: 30px;
  }
}